
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Configuración para la base de datos PostgreSQL
DB_USER=usuario_postgres
DB_PASSWORD=contraseña_segura
DB_NAME=nombre_basededatos
DB_PORT=5432

# Configuración para la aplicación NestJS
PORT=3000
NODE_ENV=development

